Main {
  top: 10vh;
  bottom: 10vh;
  width: 100vw;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  left: 0px;
}

.viewport {
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  height: 80vh;
  width: 100vw;
  overflow: hidden;
  left: 0px;
}

header {
  background-color: rgba(255,255,255,0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
  padding: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10vh;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  z-index: 1;
}

::-webkit-scrollbar {
  display: none;
}

.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 60vh;
  width: 100vw;
}
.infoArea {
  width: 95vw;
}

@media only screen and (min-width: 768px) {
  .dashboardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 60vh;
  }

  .infoArea{
    width: 50vw;
  }
}