Main {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}


header {
  background-color: rgba(255,255,255,0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
  padding: 5px;
}

section {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  z-index: 1;
}