.dashboardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.dashboardContainer button {
  margin-bottom: 20px;
}

.dashboardContainer h2 {
  text-align: center;
}

.infoArea {
  border: 3px solid white;
  border-radius: 3px;
  background: rgba(255,255,255,0.4); 
}

.wordsHolder {
  width: 100%;
  border-top: 3px solid white;
  width: 60vw;
  min-height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.infoHeader{
  text-align: center;
}

.words {
  min-width: 100%;
  max-width: 100%;
}
.words h4 {
  text-align: center;
}

.words ul {
  margin: 0px;
  padding: 0px;
}
.words li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  margin-bottom: 5px;
}

.count {
  width: 50%;
}

button {
  margin-bottom: 20px;
}

li {
  text-decoration: none;
  list-style: none;
}