.stats {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 3px groove white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  margin-bottom: 3px;
}