.stats {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: 3px groove white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  max-height: 10vh;
}
.stats p{
  font-size: 0.7em;
  margin: 3px;
}

button{
  margin-bottom: 3px;
}