.stats {
  width: 100vw;
  border-top: 3px groove white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 10vh;
}

.stats p{
  font-size: 0.7em;
  margin: 3px;
}

button{
  margin-bottom: 3px;
}

.stats strong {
  font-size: 1.1em;
}