.button-holder{
  display: flex;
  justify-content: center;
  border-top: 3px solid white;
}

.guess {
  width: 100%;
  margin-right: 0;
  padding-right: 0;
  padding-left: 7px;
}
input {
  width: 100%;
  height: 100%;
  padding: 20%;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
}

input:focus{
  background-color: rgba(255,255,255, 0.4);
  text-shadow: 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.7), 0 6px 20px 0 rgba(255,255,255,0.8);
}