.guess {
  width: 100%;
  max-height: 60%;
  display: flex;
}
.guess label {
  margin-bottom: 10px;
}


form {
  font-size: 1.2em;
  background-color: rgba(255,255,255,0.2);
  display: flex;
}

form button {
  margin-top: 15px;
}

.guess input {
  height: 20vh;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 3em;
}

input:focus{
  background-color: rgba(255,255,255, 0.4);
  text-shadow: 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.7), 0 6px 20px 0 rgba(255,255,255,0.8);
}

.infoHeader span{
  font-size: 2.5em;
  font-style: oblique;
}